mixin hero()
  section.hero.hero__gradient
    .container
      .hero__wrapper
        h1.hero__title.title FindEdu - все для выбора&nbsp;новой профессии в&nbsp;одном&nbsp;месте
        p.hero__text Изучение тем на&nbsp;вебинарах с&nbsp;преподавателями, личные консультации с&nbsp;наставником. После прохождения курса с&nbsp;наставником. После прохождения курса
        button.hero__button.btn(type="button", aria-label="Сравнить курсы")
          span Сравнить курсы
          +icon("course", 45, 45)
        .hero__right-column
          +img("content", "man", "webp", 497, 571)
          +compare()
