.hero {
  position: relative;
  padding: size(50px) 0;
  background-color: $color-light;

  @include vp-767 {
    padding: 20px 20px 60px;
  }
}

.hero__wrapper {
  max-width: size(1210px);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: min-content min-content size(303px);

  @include vp-1023 {
    padding-top: size(80px);
    padding-bottom: 0;
    max-width: 90%;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    max-width: 100%;
    row-gap: 26px;
  }

  & .hero__title {
    color: $color-accent-second;
    padding-top: size(115px);
    font-weight: 800;
    font-size: size(50px);
    line-height: 124%;

    @include vp-1023 {
      font-size: 26px;
      padding: 0;
      margin-bottom: 20px;
    }

    @include vp-767 {
      font-size: 28px;
      margin-bottom: 4px;
    }
  }
}

.hero__text {
  grid-row: 2;
  font-weight: 500;
  font-size: size(16px);
  line-height: 143%;
  color: $color-nobel;
  padding: size(31px) size(203px) size(47px) 0;
  margin: 0;

  @include vp-1023 {
    padding: 0;
    margin-bottom: 20px;
  }

  @include vp-767 {
    font-size: 14px;
    margin-bottom: 0;
  }
}

.hero__button {
  user-select: none;
  grid-row: 3;
  margin-bottom: auto;
  font-size: size(16px);

  @include vp-1023 {
    &.btn {
      width: fit-content;
    }
  }

  @include vp-767 {
    font-size: size(14px);
  }
}

.hero__right-column {
  position: relative;
  grid-row: span 3;
  display: flex;
  flex-direction: column;
  justify-content: end;

  & img {
    position: absolute;
    top: size(-7px);
    right: size(-20px);

    @include vp-1023 {
      top: size(-40px);
    }

    @include vp-767 {
      display: none;
    }
  }

  @include vp-767 {
    display: none;
  }
}