mixin footer(footerMods)

  footer.footer(class=footerMods)
    .container
      .footer__wrapper
        .footer__logo-wrapper
          if(currentUrl === "index.html")
            span.footer__logo
              +icon("logo", 34, 39)
              span FindEdu
          else
            a.footer__logo(href="index.html", aria-label="Переход на главную страницу")
              span.footer__logo
                +icon("logo", 34, 39)
                span FindEdu
          p.footer__coopiright © FindEdu 2022.#[br]Все права защищены.
        .footer__content-wrapper
          .footer__content-column
            h2.footer__content-title Категории
            ul.footer__content-list
              each item in ['Дизайн', 'Программирование', 'Маркетинг', 'Менеджмент', 'Аналитика']
                li.footer__content-item
                  a.footer__link(href="#")= item

          .footer__content-column
            h2.footer__content-title Популярные направления
            ul.footer__content-list
              each item in ['Веб-разработка', 'Java-разработка', 'Python-разработка', 'SMM-продвижение', 'Графический дизайн', 'Дизайн интерьеров']
                li.footer__content-item
                  a.footer__link(href="#")= item

          .footer__content-column
            h2.footer__content-title Общая информация
            ul.footer__content-list
              each item in ['О проекте', 'Политика конфиденциальности', 'Пользовательское соглашение']
                li.footer__content-item
                  a.footer__link(href="#")= item
